

.topnav {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: #333;
}

body {
  background: url("/assets/images/paper.jpg");
  font-family: 'Barlow Condensed', sans-serif;
}



.card {
  align-content: center;
  font-size: 5px;
}

/*.container2 {
  display: flex;
  justify-content: center;
}*/


a {
  color: white;
  font-size: 30px;
}

.grid {
  margin: auto;
}

body {
  background: url("images/paper.jpg") no-repeat;
}

/*.activator {
  max-width: 100%;
  width: 100%;
}*/
